<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to the Community</h1>
  <% if (user) { %>
    <p>Hello, <%= user.username %>! <a href="/logout">Logout</a></p>
  <% } else { %>
    <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
  <% } %>
</body>
</html>